<div class="row m-2">
  <div>
    <%= link_to @workbook.name, user_path(@workbook.user) %>
    <i class="fas fa-chevron-right"></i>
    <i class="far fa-edit">項目を作成</i>
    <i class="fas fa-chevron-right"></i>問題を作成
  </div>
</div>
<%= render 'layouts/errors', obj: @workbook_item %>
<%= form_with model: [@workbook, @workbook_item], local: true do |f| %>
<div class="row justify-content-center my-2">
  <%= f.hidden_field :workbook_id, value: @workbook.id %>
</div>
<%= f.select :quiz_type, WorkbookItem.quiz_types.keys,{}, class: "form-control" %>
<div class="row justify-content-center my-2">
  <%= f.label :name, "この項目の名前" %>
</div>
<%= f.text_area :name, rows: 5, placeholder: "○○の単語問題などと入力してね", class: "form-control" %>
<div class="row justify-content-center my-2">
  <%= f.submit "作成する！", class: "btn btn-info col-4 my-5" %>
</div>
<% end %>