<h3>マルバツ問題</h3>
<%= link_to "新規登録フォームにいく", new_workbook_item_choose_quiz_path(@item) %>
<%= form_with model: [@item, @quiz], local: true do |f| %>
<table>
  <tr>
  <td><%= f.hidden_field :workbook_item_id, value: @item.id %></td>
  <td><%= f.label :quiz, "問題" %></td>
  <td><%= f.text_area :quiz, rows: 3, cols: 60 %></td>
  <td><%= f.label :judge, "正誤判定" %></td>
  <td><%= f.radio_button :judge, :〇, default: 1 %><%= f.label :judge, "〇" %></td>
  <td><%= f.radio_button :judge, :× %><%= f.label :judge, "×" %></td>
  <td><%= f.label :explanation, "解説" %></td>
  <td><%= f.text_area :explanation, rows: 3, cols: 60 %></td>
  
  <td><%= f.submit "新規登録する" %><td>
    </tr>
</table>
<% end %>
<h4>問題</h4>
<% @quizzes.each do |quiz| %>
<div>
  <div class="box"><%= quiz.quiz %></div>
    <div class="hidden_box choose_quiz_<%= quiz.id %>"><%= quiz.judge %></div>
    <div class="hidden_box choose_quiz_<%= quiz.id %>"><%= quiz.explanation %></div>
    <%= link_to "答えを見る", workbook_item_choose_quizzes_check_path(@item, quiz), remote: true %>
  </div>
<% end %>